<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nutrition Tracking.">
    <title>TRACKR - Nutrition Tracking</title>
    <link href="https://fonts.googleapis.com/css?family=Monoton&display=swap" rel="stylesheet">
    
    
    
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
        
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/marketing.css">
            
        <!--<![endif]-->
  <title>Home Page</title>
</head>

<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/about">About</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="./index.html" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="./tracker" class="pure-menu-link">Track</a></li>
            <li class="pure-menu-item"><a href="./signup" class="pure-menu-link">Sign Up</a></li>
        </ul>
    </div>
    
</div>
{{{body}}}

     <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
        
    </div>

</div>
</body>

</html>
