    <div class="splash-container">
        <div class="splash">
<div id="borderDemo">Few Questions and we will get you started.
<br>
<br>
<br>

    <div class="pure-control-group">
        <label for="name"></label>
        <input id="name" type="text" placeholder="User Name">
        <span class="pure-form-message-inline">This is a required field.</span>
    </div>
   
    <br>

    <div class="pure-control-group">
        <label for="name"></label>
        <input id="name" type="text" placeholder="Your Weight">
        <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <br>

    <div class="pure-control-group">
        <label for="name"></label>
        <input id="name" type="text" placeholder="Your Height">
        <span class="pure-form-message-inline">This is a required field.</span>
    </div>

    <br>

    <div id="age" class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Age</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">18-30</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">31-50</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">50 up</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <br>
        <br>
        <br>
    <div id="Gender" class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Gender</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Male</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Female</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <div id="Goals" class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">Goals</a>
                <ul class="pure-menu-children">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Gain weight</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Maintain</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Lose weight</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <br>
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
</div>    